
.titulo{
    text-align: center;
    color:var(--cor-verde-escuro);
    font-size: 38px;
    font-family: birthstone;
    
}

.titulo:first-child{
    padding: 15px 0px 15px 0px;
    font-size: 34px;

}

.titulo:last-child{
    padding-bottom: 25px;
}

.textoInstrucao{
    color:black;
    font-size: 38px;
    margin: 10px 20px 10px 20px;
    font-family: birthstone;
}



.instrucao{
    background-color: var(--cor-rosa-claro);
    margin: 0;   
}


@media screen and (max-width:992px){
    .textoInstrucao{
        font-size: 32px;
        text-align: justify;
    }
}