.modal{
    background-color: var(--cor-verde-claro);
    display:none;
    position: fixed;
    width: 600px;
    height: 600px;
    left: 22%;
    top: 40px;
    color: black;
    border-radius: 20px;
    padding-top: 20px;
}

.modal h3{
    font-size: 28px;
    padding: 5px;
    text-align: center;
}

.modal h4{
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.dados{
    padding: 10px;
    font-size: 28px;
    padding-left: 45px;
}

.dados input{
    height: 25px ;
    width: 250px;
}

.textoAlternativo{
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
}

#fechar{
    padding: 10px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 24px;
    background-color: lightgreen;
}

#fechar:hover{
    background-color: lightskyblue;
}

#itens{
    height: 50px;
    margin-left: 37%;
    margin-top: 20px;
    text-align: center;
}

#confirmar{
    padding: 15px;
    position: absolute;
    left: 40%;
    bottom: 20%;
    font-size: 28px;
    background-color: lightcoral;
}

#confirmar:hover{
    background-color: lightskyblue;
}

.show{
    display: block ;
}

.naoVisivel{
    display: none  !important;
}

.confirmacao{
    display: none;
    text-align: center;
    font-size: 28px;
    color:black;
    background-color: rgb(201, 236, 148);
}


.ver{
    display: inline-block !important;
    margin-left: 20%;
}


@media screen and (max-width:787px){
    .modal{
        left: 16%;
        width: 400px;
        
    }
    #confirmar{
        padding: 10px;
        position: absolute;
        left: 20%;
        bottom: 30px;
        font-size: 24px;
        background-color: lightcoral;
    }
}


@media screen and (max-width:490px){
    .modal{
        left: 3%;
        width: 320px;
        height: 450px;
    }
    .textoAlternativo{
        display: none;
    }

    .modal h3,h4{
        display: none;
    }
}

@media screen and (max-width:1270px){
    .modal{
        
    }
}