@font-face {
    font-family: birthstone ;
    src: url("../font/Birthstone/Birthstone-Regular.ttf");
}


body{
    margin: 0;
}




.navPrincipal{
    height: 70px;
    background-color:var(--cor-verde-escuro);
    

}

#iconMenu{
    display: none;
}

.divMenu{
    display: inline-block;
    margin-left: 25%;
    position: absolute;
    top: 10px;
    
}

.menu{
    display: flex;
    height: 35px;
    width: 550px ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#panela{
    height: 60px;
    width: 100px;
    display: inline;
}



.menu a{
    color: white;
    font-size: 38px;
    margin-left: 20px;
    font-family:  birthstone,"Arial";
    text-decoration: none;
}

.menu a:hover{
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}



@media screen and (max-width:992px){
    
    .divMenu{
        margin-left: 18%;
    }

    .menu{
        width: 450px;
    }
    
    .menu a{
        color: white;
        font-size: 32px;
        margin-left: 10px;
    }
}

@media screen and (max-width:768px){
    .menu{
        display: none;
    }

    #iconMenu{
        display: inline-block;
        color: white;
        margin-left: 80px;
        height: 54px;
    }
}


@media screen and (max-width:480px) {
    #iconMenu{
        
        margin-left: 10px;
        
    }
}

