

#nos{
    background-image: url("../images/fotoCasal.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: var(--cor-rosa-claro);
    height: 800px;
    
}

#nos h2{
    font-size: 42px;
    padding: 15px 0 15px 0 ;
    text-align: center;
    color: white;
    font-family: birthstone,"Arial";
}

#textoNos{
    display: inline-block;
    font-size: 38px;
    font-family: birthstone;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--cor-verde-claro);
}


#invi{
    height: 400px;
}
#textoNos p{
    text-align: center;
}

#pensamento{
    text-align: center;
    margin-top: 20px;
}

