.rodape{
    background-color: var(--cor-verde-escuro);
    font-size: 32px;
    padding: 10px 0 10px 0; 
    font-family: birthstone,"Arial";
    color: white;
    width: 100%;
}

.autor{
    text-align: center;
    font-size: 38px;
}

#tel{
    display: inline-block;
}

.telefone img{
    padding-left: 15px;
    padding-right: 15px;
}

.email p{
    display: inline-block;
}

.email img{
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width:768px){
    .rodape{
        font-size: 26px;
    }
    .autor{
        font-size: 32px;
    }
}

@media screen and (max-width:480px){
    .rodape{
        font-size: 22px;
    }
    .autor{
        font-size: 26px;
    }
}